@media only screen and (max-width:1320px) {
    .haedtext {
        font-size: 3.5rem;
    }

    .workDtl {
        width: 280px;
        height: 380px;
    }

    .aboutme {
        font-size: 2.6rem;
    }

    .aboutContent p {
        font-size: 1.1rem;
    }

    .abou_head {
        font-size: 1.5rem;
    }

    .about_detai h4 {
        font-size: 15px;
    }

    .about_detai p {
        font-size: 12px;
    }

    .header {
        height: 90vh;
    }
}

@media only screen and (max-width:1020px) {
    .haedtext {
        font-size: 2rem;
    }

    .heding_part {
        font-size: 25px;
    }

    header {
        height: 80vh;
        background-size: 600px;
    }

    .nav-link li {
        margin: 0 8px;
        padding: 8px 12px;
        font-size: smaller;
    }

    .photo {
        width: 38%;
        min-width: 300px;

    }

    .logo {
        width: 200px;
        min-width: 100px;
    }
}

@media only screen and (max-width:900px) {

    .about {
        flex-direction: column;
        padding: 20px 0;
        gap: 10px;
    }

    .photo {
        width: 70%;
        min-width: 300px;

    }

    .aboutContent {
        width: 85%;
    }

    .workDtl {
        width: 225px;
        height: 300px;
    }

    .cv {
        width: 25%;
        min-width: 350px;
    }

    .cv h1 {
        font-size: 2.5rem;
    }

    .cv>div {
        font-size: 20px;
        margin: 50px 0;
    }

    .inputs {
        min-width: 320px;
    }

    .inputs input {
        padding: 14px 18px;
        margin: 11px 0;
    }

    .cv button {
        padding: 14px 15px;
    }
}

@media only screen and (max-width:795px) {
    .nav-link {
        display: none;
    }

    .togal {
        display: block;
    }

    header {
        height: 70vh;
        background-size: 450px;
    }

    .haedtext {
        font-size: 1.9rem;
    }

    .position {
        font-size: 25px;
    }

    .seivice-name {
        display: block;
    }

    .seivice-name>div {
        width: 100%;
        margin: 10px 0;
    }

    .contect {
        flex-direction: column;
    }

    .cv {
        width: 93%;

        text-align: center;
    }

    .inputs {
        width: 93%;
        margin-top: 50px;
    }

    .cv button {
        width: 102%;
        margin: auto;
    }
}

@media only screen and (max-width:640px) {
    header {
        height: 390px;
        background-size: 310px;
    }

    .haedtext {
        font-size: 1.5rem;
    }

    .position {
        font-size: 25px;
    }

    .my-wrkMain {
        flex-direction: column;

    }

    .workDtl {
        width: 100%;
        height: 200px;
    }

    .servItm {
        height: 200px;
    }

    .servItm h2 {
        margin: 0;
    }

    .abou_head {
        font-size: 1.2rem;
    }
}

@media only screen and (max-width:400px) {
    header {
        height: 390px;
        background-size: 300px;
    }

    .logo {
        width: 150px;
    }

    .togal {
        font-size: 24px;
        margin-left: 80px;
    }

    .abou_head {
        font-size: 0.9rem;
    }

    .haedtext {
        font-size: 1.3rem;
    }

    .position {
        font-size: 22px;
    }

    .about_headList {
        margin-right: 10px;
    }

    .servItm {
        height: 290px;
        width: 100%;
    }
    .service-head, .aboutme {
        font-size: 2rem;
    }
    .photo{
        width: 70%;
        min-width: 200px;
    }
}